<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <li>
    <p>{{erman}}</p>
  </li>
  <h1>Names</h1>
  <li *ngFor="let names of d">
    <p>{{names}}</p>
  </li>
  <form>
    <select name="osman" [(ngModel)]="bank1">
      <option *ngFor="let bank of banks" value="{{bank}}">{{bank}}</option>
    </select>

    <select name="ali" [(ngModel)]="bank2" (select)="first"><!-- value alıyor ona dikkat et -->
      <option *ngFor="let bank of BankList" value="{{bank.name}}">{{bank.swiftCode}} {{bank.name}}</option>
    </select>
    <button type="button" (click)="buttonSubmit()">Submit</button>
    <input name="input" type="text" value="{{bank3}}">
    <button type="button" (click)="buttonGet()">Get</button>
    <input name="input" type="text" value="{{bank4.appVersion}}">
    <button type="button" (click)="buttonPost()">Post</button>
    <input name="input" type="text" value="{{bank5.deviceOsVersion}}">
    <button type="button" (click)="buttonPostListData()">Post List Data</button>

    <table>
      <tr *ngFor="let bank of bankList">
        <td>{{bank.appVersion}}</td>
        <td>{{bank.deviceOsVersion}}</td>
        <td>{{bank.parola}}</td>
        <td>{{bank.sifreNetIndex}}</td>
      </tr>
    </table>

    <!-- Line Chart -->
    <div class="row" style="width: 20%; height: 20%; display: inline-block">
      <div class="col-md-6">
        <div style="display: block;">
          <canvas baseChart width="40" height="40"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="col-md-6" style="margin-bottom: 10px">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <button (click)="randomize()">CLICK</button>
      </div>
    </div>
    <!-- Bar Chart -->
    <div style="width: 20%; height: 20%; display: inline-block">
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <button (click)="randomize2()">Update</button>
    </div>

    <!-- Doughnut Chart -->
    <div style="width: 20%; height: 20%; display: inline-block">
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>

    <!-- Radar Chart -->
    <div style="width: 20%; height: 20%; display: inline-block">
      <canvas baseChart
              [datasets]="radarChartData"
              [labels]="radarChartLabels"
              [chartType]="radarChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>

    <!-- Pie Chart -->
    <div style="width: 20%; height: 20%; display: inline-block">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>

    <!-- Polar Chart -->
    <div style="width: 20%; height: 20%; display: inline-block">
      <canvas baseChart
              [data]="polarAreaChartData"
              [labels]="polarAreaChartLabels"
              [legend]="polarAreaLegend"
              [chartType]="polarAreaChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </form>
</ul>

